<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">FRLG E4R2 Helper</span>
</nav>
<form>
    <div class="container">
        <div class="mb-3 row">
            <label for="level" class="col-sm-2 col-form-label">Level</label>
            <div class="col-sm-10">
                <input [ngModel]="level" (ngModelChange)="levelChange($event)" type="number" class="form-control" id="level" name="level" min="5" max="100">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="spAtk" class="col-sm-2 col-form-label">Sp. Atk</label>
            <div class="col-sm-10">
                <input [ngModel]="spAtk" (ngModelChange)="spAtkChange($event)" type="number" class="form-control" id="spAtk" name="spAtk">
            </div>
        </div>

        <div class="mb-3 row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="badgeBoost" id="badgeBoost" [ngModel]="badgeBoost" (ngModelChange)="badgeBoostChange($event)">
                <label for="badgeBoost" class="form-check-label">Badge Boost</label>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="selectedPokemon">Wild Pokémon</label>
            <div class="col-sm-10">
                <select [ngModel]="selectedPokemon" (ngModelChange)="selectedPokemonChange($event);" class="form-control" id="selectedPokemon" name="selectedPokemon">
                    <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon">{{pokemon.name}}</option>
                </select>
            </div>
        </div>

        <div class="row">

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Level</th>
                    <th>Bubble</th>
                    <th>*Bubble</th>
                    <th>WG</th>
                    <th>*WG</th>
                    <th>WP</th>
                    <th>*WP</th>
                    <th>Surf</th>
                    <th>*Surf</th>
                    <th>Bite</th>
                    <th>Bite+BG</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="computedOdds.length === 0">
                    <td colspan="11">Select a wild Pokémon</td>
                </tr>

                <tr *ngFor="let row of computedOdds">
                    <th>{{row.level}}</th>
                    <th>{{row.bubble / 409600 | percent : '.0-1'}}</th>
                    <th>{{row.bubbleTorrent / 409600 | percent : '.0-1'}}</th>
                    <th>{{row.waterGun / 409600 | percent : '.0-1'}}</th>
                    <th>{{row.waterGunTorrent / 409600 | percent : '.0-1'}}</th>
                    <th>{{row.waterPulse / 409600 | percent : '.0-1'}}</th>
                    <th>{{row.waterPulseTorrent / 409600 | percent : '.0-1'}}</th>
                    <th>{{row.surf / 409600 | percent : '.0-1'}}</th>
                    <th>{{row.surfTorrent / 409600 | percent : '.0-1'}}</th>
                    <th>{{row.bite / 409600 | percent : '.0-1'}}</th>
                    <th>{{row.biteWithBlackGlasses / 409600 | percent : '.0-1'}}</th>
                </tr>

                </tbody>

            </table>

        </div>



    </div>
</form>
